<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Price Alert</title>
</head>
<body>
  <style>
    * {
      text-decoration: none !important;
      list-style: none !important;
    }
  </style>
  <div class="container">
    {% include 'navbar.html' %}

    <ul class="messages">
    </ul>

    {% block content %}

    {% endblock %}

    {% if messages %}
      {% for message in messages %}
      <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Login Failed</div>
        <div class="card-body text-danger">
          <h5 class="card-title">Wrond username or password</h5>
          <p class="card-text">{{message}}</p>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>
</body>
</html>
