<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Price Alert</title>
</head>
<body>
  <style>
    * {
      text-decoration: none !important;
    }
  </style>
  <div class="container">
    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}
  </div>
</body>
</html>
