 <div class="d-flex align-items-center justify-content-between p-4 rounded-bottom bg-primary">

  <a href="/">

    <h1 class="text-white">Price Alert</h1>

  </a>

  <form method="GET" action="{% url 'home' %}">

    <input type="text" class="form-control" name="q" placeholder="Search Assets..." />

  </form>

  {% if request.user.is_authenticated %}
    <div class="d-flex">
      <p class="text-white me-3">{{request.user}}</p>
      <a class="text-white"href="{% url 'logout' %}">Logout</a>
    </div>
  {% else %}
    <a class="text-white"href="{% url 'login' %}">Login</a>
  {% endif %}

  <a href="{% url 'login' %}"></a>


</div>
